extends layout.pug 

block content 
 .container 
      h1.intro We are glad to welcome you to Blogs World! With help of this app you can add, delete and search your blogs.
      a.featured(href='/create') Add New